@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btnPrimary {
    @apply text-white bg-primaryLight capitalize px-11 py-2.5 rounded-xl font-semibold;
  }
  .btnSecondary {
    @apply bg-white shadow-lg capitalize w-52 h-10 rounded-full font-semibold;
  }
  .btnAccent {
    @apply bg-accent text-white shadow-lg capitalize w-32 h-10;
  }
  .section-container {
    @apply min-h-screen max-w-[1172px] mx-auto container;
  }
  .navlink {
    @apply text-textSecondary relative uppercase px-1 pb-3 hover:text-primaryDark font-medium;
  }
  .form-modal {
    @apply bg-white shadow-2xl h-[530px] w-[345px] rounded-3xl p-4;
  }
  .form-input {
    @apply py-1.5 px-0 mb-4 w-full border-gray-400 focus:border-primaryLight placeholder:text-sm focus:placeholder:text-gray-800 focus:text-gray-800 text-gray-500 outline-none focus:ring-transparent border-0 border-b-[1px];
  }
  .grayDiv {
    @apply bg-[#f1f1f1] px-8 rounded-xl;
  }
  .titleTab {
    @apply px-5 py-0.5 rounded-full w-fit;
  }
  .tabBorder {
    @apply border-2 border-textSecondary/70;
  }
}

body {
  @apply font-body antialiased;
}

/**=====================================================**/
/** Styles for Navlink of Navbar **/
/**=====================================================**/

.navlink:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  bottom: 0;
  background: #01b489;
}

/**=====================================================**/
/** Styles for Opening Interface Images **/
/**=====================================================**/

.openingLogo {
  height: 45%;
  width: 25%;
}

.openingWave {
  width: 100%;
  height: 72%;
}

/**=====================================================**/
/** Styles for Student Category Images **/
/**=====================================================**/

.categoryWave {
  width: 100%;
  height: 92%;
}

/**=====================================================**/
/** Styles for Student Registration Images **/
/**=====================================================**/

.phase2-wave {
  width: 100%;
  height: 107%;
}

/**=====================================================**/
/** Styles for Student Registration Images **/
/**=====================================================**/

.dashboard-menu-item-active {
  position: relative;
  z-index: 1;
}
.dashboard-menu-item-active::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: white;
  transform: rotate(180deg);
  top: -20px;
  right: 0;
  z-index: -1;
}
.dashboard-menu-item-active::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: white;
  transform: rotate(180deg);
  bottom: -20px;
  right: 0;
  z-index: -1;
}


select{
  appearance: none;
  border: none;
}
